<h1><%= @cocktail.name %></h1>


<div class="container">

  <% @cocktail.doses.each do |dose| %>
    <div class="card">
      <div class="row">
        <div class="col-md-8">
          <p><%= dose.ingredient.name %></p>
          <p><%= dose.description %></p>
          <%= link_to "delete", dose_path(dose), method: :delete, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to "< back", cocktails_path %>
<%= link_to "Add ingredient", new_cocktail_dose_path(@cocktail) %>
</div>







